/* -----------------------------
   ========= KAM Theme =========
   ----------------------------- 
*/

@font-face {
  font-family: "KAMLouis";
  src: url(~@/assets/fonts/Louis-George-Cafe.ttf) format("truetype");
}
@font-face {
  font-family: "KAMQuinn";
  src: url(~@/assets/fonts/Quantify.ttf) format("truetype");
}


$KAMLouis: "KAMLouis";
$KAMLouisBold: "KAMLouisBold";
$KAMQuinn: "KAMQuinn";

//$KAMBeige: #D3B494;
$KAMBeigeLight: #E9D9C9;//#CFBBA5;
$KAMPurpleLight: #F3E1F1; // #E8D7E7;
//$KAMBlue: #00B0F0;

$KAMGreenDark: #016361;
$KAMGreenSemiLight: #05C179; //checked
$KAMGreenLight: #BBD9DB; //footer text

$KAMGrey: #DDDDDD;
$KAMGreySemiDark: #9f9c9c;
$KAMGreyDark: #454545;
$KAMGreyLight: #F2F2F2;
$White: #fff;
$Black: #000;

//Effect colors:
$KAMBlue: #4DC3FF;
$KAMGreen: rgba(107,236,55,1);
$KAMPurple: rgba(221,55,236,1);
$KAMOrange: #FDA83B;
$KAMYellow: rgba(248,215,45,1);
